---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import res from "../assets/images/res.avif";
import photo from "../assets/images/photo.avif";
import un from "../assets/images/un.avif";
import "../CSS/font.css";
import deux from "../assets/images/deux.avif";
import drei from "../assets/images/drei.avif";
import vier from "../assets/images/vier.avif";
import Instagram from "../components/Instagram.astro";
---

<Layout>
    <Navigation />

    
        <section>
            <div class="relative">
                <img
                    class="w-full object-cover h-[600px]"
                    src={res.src}
                    alt=""
                />
                <h3
                    class="absolute left-[10%] bottom-[20%] text-white text-4xl"
                >
                    About Us
                </h3>
            </div>
        </section>
        <section
            class=" md:grid grid-cols-2 md:gap-[20px] items-center w-[90%] h-[650px] p-[90px] lg:grid-cols-2 lg:gap-[40px]  "
        >
            <img
                class=" w-full md:w-[950px] md:h-[500px] object-cover shadow-lg shadow-orange-500/50 rounded-lg"
                src={photo.src}
                alt="ein photo"
            />
            <div>
                <h4>SINCE 2002</h4>
                <p class=" text-sm md:text-2xl w-full md:loading-relaxed">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Nostrum, quaerat provident illum, porro corrupti quasi
                    exercitationem et nemo molestias culpa deserunt, illo in
                    beatae fuga earum incidunt?
                </p>
            </div>
        </section>
        <section
            class="md:grid grid-cols-2  md:mt-[50px] gap-10 p-[20px]  lg:grid-cols-2 lg:gap-[40px]"
        >
            <img class="w-full p-6 object-cover shadow-lg shadow-orange-500/50 rounded-lg" src={un.src} alt="photo" />
            <img class="w-full object-cover  p-6 shadow-lg shadow-orange-500/50 rounded-lg" src={deux.src} alt="" />
        </section>
        <section
            class=" md:grid grid-cols-2 md:mt-[50px] items-center w-[90%] h-[650px] p-[90px] lg:grid-cols-2 lg:gap-[40px] gap-[100px]"
        >
            <div h->
                <h4>SINCE 2002</h4>
                <p class=" text-sm md:text-2xl w-full loading-relaxed">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Nostrum, quaerat provident illum, porro corrupti quasi
                    exercitationem et nemo molestias culpa deserunt, illo in
                    beatae fuga earum incidunt?
                </p>
                <button
                    class="relative overflow-hidden px-8 py-4 my-8 text-white font-bold rounded-lg border border-white-500 bg-transparent group"
                >
                    <span
                        class="absolute left-0 top-0 h-full w-0 bg-orange-500 transition-all duration-500 group-hover:w-full"
                    ></span>
                    <span class="relative text-black z-10">BOOK A TABLE</span>
                </button>
            </div>
            <div>
                <img
                    class=" w-full md:w-[950px] md:h-[500px] object-cover  shadow-lg shadow-orange-500/50 rounded-lg"
                    src={drei.src}
                    alt="ein photo"
                />
            </div>
        </section>
        <section class="   md:mt-[40px] ">
            <div class="m-[40px]">
                <img
                    class="w-full h-[700px] object-cover"
                    src={vier.src}
                    alt="photo"
                />
            </div>
            <div class=" m-auto w-[50%] ">
                <p class="text-center text-sm md:text-3xl mb-9">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Commodi iure repellendus doloribus nobis, culpa ullam fugit
                    eos magnam soluta et dignissimos ad repellat ipsam deleniti
            
                </p>
            </div>
         <!--   <div class=" m-auto w-[60%] "> <h4>MICHAEL DOE</h4>
                <h6>RESTAURANT MANAGER</h6></div> -->
        </section>
        <Instagram/>

    
    <Footer/>
    </Layout
>
